.ctaButton {
    /* Box button properties */
    width: fit-content;
    height: fit-content;
    padding: 3vh;
    
    /* Box style */
    background-color: #739072;
    border-radius: 7px;
    cursor: pointer;
    color: white;

    /* Text properties */
    text-transform: uppercase;
    font-weight: bold;
}