.bg-img {
    background-image: url("/workspaces/qui-prend-quoi/frontend/public/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 86.9vh;
}

.bg-text {
    width: 100%;
    color: white; 
    height: 86.9vh;
    background-color: hsl(0,0%,0%, 55%);
}

.leadText {
    margin: 50px 0px 40px 0px;
    font-size: 1.25rem;
    font-weight: bold;
}

.h1Text {
    margin-bottom: 50px;
}

.headingText, .Typewriter {
    display: inline;
    font-size: 2em;
    font-weight: bold;
}

.Typewriter {
    color : orange;
}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86.9vh;
}
