.bg-img {
    background-image: url("/workspaces/qui-prend-quoi/frontend/public/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-text {
    width: 100%;
    color: white; 
    height: 100vh;
    background-color: hsl(0,0%,0%, 55%);
}

.leadText {
    margin: 80px 0px 30px 0px;
    font-size: 1.25rem;
    font-weight: bold;
}

.bottomText {
    margin-top: 40px;
}

.h1Text {
    margin-bottom: 30px;
}

.headingText, .Typewriter {
    display: inline;
    font-size: 2em;
    font-weight: bold;
}

.Typewriter {
    color : #739072;
}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
