.how {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.15rem;
}

.headingHow {
    margin-top: 10px;
}

.ctaButton {
    margin: 30px 0px 0px 0px;
}

.steps {
    background-color: #86A789;
    height: fit-content;
    padding: 9vh;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 300px;
    height: 130px;
    background-color: #D2E3C8;
    padding: 2vh;
}

.boxText {
    margin: 0px;
}