.nav {
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #4F6F52;
    color: white;
    position: fixed;
    z-index: 100;
}

.logo {
    width: 60%;
    margin: 23px 0px 23px 0px;
    position: relative;
    left: 50px;
    text-decoration: none;
    color: #D2E3C8;
    font-size: 30px;
    font-weight: bold;
}


.list-menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
    justify-items: end;
    margin: 36px 0px 36px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.liAnchor {
    text-decoration: none;
    color: #D2E3C8;
}